/* Introduction Container */
.past-versions-introduction-div {
  padding: 10px 10px 0px 10px;
  margin-bottom: 12px;
}
.past-versions-introduction-div img {
  width: 140px;
  margin: 0px 6px 0px 0px;
  float: left;
}

/* Past Versions Container */
.past-versions-container {
  width: 90%;
  margin: auto;
}
.past-versions-container div {
  padding: 10px;
  margin-bottom: 12px;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.past-versions-container img {
  border: 3px solid #8699df;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.253);
  width: 97.5%;
  margin-bottom: 10px;
}

/* CSS for Phones */
@media (max-width: 400px) {
  .past-versions-introduction-div img {
    display: none;
  }
}
