/* Text Containers */
.text-containers {
  padding: 10px 10px 0px 10px;
  margin-bottom: 12px;
}
.about-site-img-1 {
  width: 100px;
  margin: 0px 20px 0px 5px;
  float: left;
}
.about-site-img-2 {
  width: 100px;
  margin: -10px 20px 0px 0px;
  float: right;
}

/* Inspiration websites container */
.inspiration-sites-container {
  padding: 10px 10px 6px 10px;
}
.inspiration-sites-div {
  display: flex;
  margin-bottom: 20px;
}
.inspiration-sites-div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 16px 16px 16px;
}
.inspiration-sites-div img {
  border: 1px solid #485cb1;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.253);
  width: 100%;
  max-height: 450px;
}
.inspiration-sites-div a {
  margin-top: 3px;
}
.inspiration-sites-buttons-div {
  text-align: center;
  margin-top: -33px;
  padding-bottom: 5px;
}

/* CSS for Phones */
@media (max-width: 400px) {
  .about-site-img-1 {
    display: none;
  }
  .about-site-img-2 {
    display: none;
  }
  .inspiration-sites-div {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
