* {font-family:"sans-serif", "Arial", "monospace"!important;word-wrap:break-word!important;}
*, a, button, body { cursor: url('https://venith.net/Media/cursor.png'), auto!important;	}
body {background-color:rgb(0, 0, 0);margin:0px;color:white!important;font-size:12px!important;}

.con {max-width:800px;margin:0px auto;}
.nav {background:#00025b;text-align:center;overflow:auto;max-height:50px;font-size:36px;color:white!important;font-weight:bold;padding:4px}
.txt {background:#4b0404;padding:2px}
.foot {background:#015b03;font-size:10px!important;padding:2px}

h1 {text-align:center;font-weight:bold;background:#0c023f}
a {color:#FFF}
a:hover {background-color:black!important;color:rgb(19, 235, 170)!important;}
::selection {background:lime;color:black}

[id] {display:none}
[id]:target {display:block}

IMG {max-width:100%;height:auto}
IMG[src="https://venith.net/Media/Vlogo.jpg"] {width:42px;float:left}
audio {width:99%}
