* {font-family:monospace;word-wrap:break-word!important;}
body {background-color:#000;margin:0px;color:white!important;font-size:12px!important;}
*, a, button, body {cursor:url('/media/cursor.png'), auto!important;}
.con {background:#040;margin:0px auto;}
.nav {background:#050;text-align:center;overflow:auto;max-height:50px;font-size:26px;color:white!important;font-weight:bold;padding:4px;border-bottom:2px #FFF solid}
.txt {background:#040;padding:2px}
.foot {background:#030;font-size:10px!important;padding:2px}

h1 {background:#040;margin:auto 0px;text-align:center;font-weight:bold;}
a {color:#FFF}
a:hover {color:rgb(235, 170, 19)!important;}
::selection {background:lime;color:black}

[id] {display:none}
[id]:target {display:block}

IMG {max-width:100%;height:auto}
IMG[src="/media/vlogo2.jpg"] {float:left}
audio {width:99%}